/* Home.css */
.home-page {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.main {
  margin-top: 60px;
}

.section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

.section-bg {
  background-color: #f3f5fa;
}

/* Common styling for content sections */
.section h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #37517e;
}

.section h3 {
  font-size: 26px;
  font-weight: 600;
  color: #37517e;
}

/* Image styling */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Animation for hero image */
.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}



/* .home-page {
    display: flex;
    flex-direction: column;
    background-color: #75721d;
    gap: 3rem;
  }
  
  .hero {
    text-align: center;
    padding: 4rem 1rem;
    background-color: #524f23;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    color: #b69d49;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    color: #6c757d;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .featured-products {
    padding: 1rem 0;
  }
  
  .featured-products h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #2c3e50;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  @media (max-width: 768px) {
    .hero {
      padding: 2rem 1rem;
    }
    
    .hero h1 {
      font-size: 2rem;
    }
  } */